* {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}
p>a{
    text-decoration: none;
    color: #d8d8d8
}

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;500&display=swap');

/*menu topo*/

header {
    padding: 6vh;
    background-color: #004c8c;
    box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.342);
}

nav a {
    text-decoration: none;
    color: #e2e2e2;
}

body {
    background-color: #d8d8d8 !important;
}

header h2 {
    color: #ffffff;
    font-size: 4.5vh;
    margin-left: 10%;
    float: left;
    font-weight: 200;
    margin-top: 20px;
}

header ul {
    margin-left: 50%;
}

ul .navbar-nav nav-item {
    font-size: 20vh;
}

ul li {
    margin-left: 5px;
    list-style: none;
    display: inline-block;
    font-size: 2.4vh;
    font-weight: 500;
    margin-top: 15px;
    color: #ffffff !important;
    padding: 10px;
    border-radius: 40px;
    background-color: #002f64;
}

.nav-list li a {
    color: #ffffff;
}


/*texto principal*/

section {
    margin-top: 4%;
    margin-bottom: 2%;
    width: 65vw;
    align-items: left;
    color: #000000;
}

section h1 {
    color: #000000;
    font-size: 6vh;
    font-weight: 200;
}

section h3 {
    color: #000000;
    font-size: 4vh;
    font-weight: 200;
}

section p {
    color: #020202;
    font-size: 3vh;
    text-align: justify;
    font-weight: 100;
}

#lerMais{
    max-width: 65vw;
    padding-right: 28vw;
    padding-left: 28vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    align-content: center;
    background-color: #bebebe;
    border: none;
    margin-top: 10px;
    white-space: nowrap;
    text-align: center;
 
  
}

main {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

/*caixas de texto*/

input {
    color: #002f64;
    height: 5vh;
    align-items: center;
    width: 25vw;
    margin: 15vh;
    border-radius: 5vh;
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 0 none;
    background-color: #a8a8a8;
}

label {
    font-size: 2.5vh;
    margin-left: 25px;
    margin: 10px;
}

textarea:focus,
input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 0 none;
}

textarea {
    margin-left: 5vh;
}

::placeholder {
    color: #000000;
    padding-left: 1vh;
    font-size: 2vh;
}


/*caixa de pequeisa*/

.butbusca{ 
  margin-left: 0px !important;
  padding: 10px;
  border-radius: 5px;
}

.busca input {
    color: #002f64;
    height: 6vh;
    width: 20vw;
    border-radius: 2vh;
    background-color: #a8a8a8;
    font-size: 2.5vh;
    margin-bottom: 25px;
    display: grid;
    flex-direction: row;
    justify-content: space-between;
 
}

.busca ::placeholder {
    font-size: 2.5vh;
    margin-left: 25px;
}

.mensagem button {
    font-size: 2.5vh;
    font-weight: 500;
    margin-top: 15px;
    color: #000000 !important;
    background-color: #bebebe;
    border-radius: 5px;
    padding: 10px;
}



/*formulario*/

form {
    display: flex;
    justify-content: space-between;
}

.caixaform {
    color: #142552;
}

.emailnome {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.msg {
    margin-left: 60px;
    margin-top: 25px;
    flex-direction: column;
    align-content: center;
}

.msg textarea {
    display: flex;
    align-content: center;
    width: 40vw;
    height: 200px;
    background-color: #a3a3a3;
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 0 none;
    margin-bottom: 15px;
}

#enviar {
    outline: 0;
    border: 0 none;
    display: inline-block;
    font-size: 2.5vh;
    font-weight: 500;
    margin-top: 15px;
    margin-left: 35vw !important;
    color: #000000 !important;
    background-color: #bebebe;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
}


/*rodapé*/

footer {
    background-color: #15427c;
    padding: 25px;
    padding-top: 60px;
    margin-top: 50px;
}

footer p {
    color: #ffffff;
    font-size: 2.5vh;
}

footer h4 {
    color: #ffffff;
    font-size: 2.5vh;
}

.contato {
    justify-content: space-around;
    display: flex;
    align-items: center;
    align-content: center;
    place-items: center;
}

.pesq {
    height: 120px;
    width: 150px;
    margin: 55px;
}

.dev {
    height: 120px;
    width: 150px;
    margin: 55px;
}

.logos img {
    width: 15rem;
}

#menu-mobile {
    display: none;
}


/*Responsivo*/

@media (max-width:778px) {
    .container-fluid {
        background-color: #004c8c;
        color: #004c8c;
    }

    footer {
        background-color: #15427c;
        padding: 0px;
        padding-top: 0px;
        margin-top: 0px;
    }
    

    main {
        width: 15vw;
        margin-left: 2rem;
        margin-right: 1rem;
    }

    section {
        margin-top: 4%;
        margin-bottom: 2%;
        width: 90vw;
        align-items: left;
        color: #000000;
    }

    .navbar-brand {
        color: rgb(255, 255, 255) !important;
        text-decoration: none;
        white-space: nowrap;
    }

    button .navbar-toggler-icon {
        color: rgb(255, 255, 255) !important;
    }

    form {
        margin-top: -50px;
        display: block;
    }

    .msg {
        margin-left: 0px;
        margin-top: 25px;
        flex-direction: column;
        align-content: center;
    }

    .msg textarea {
        display: block;
        align-content: center;
        width: 80vw;
        height: 200px;
        background-color: #333333;
        box-shadow: 0 0 0 0;
        outline: 0;
        border: 0 none;
        border-radius: 20px;
        margin-bottom: 15px;
    }

    .navbar-brand {
        margin-left: 25px;
        font-size: 30px !important;
    }

    .dev {
        height: 120px;
        width: 150px;
        margin: 5px;
    }

    #menu {
        display: none;
    }

    section {
        margin-top: 5vh;
    }

    #menu-mobile {
        display: flex;
    }

    ul li {
        margin-left: -10px;
        list-style: none;
        display: inline-block;
        font-size: 2.5vh;
        margin-top: 8px;
        color: #ffffff;
        padding: 0px;
        border-radius: 25px;
    }

    input {
        width: 80vw;
    }

    button {
        outline: 0;
        border: 0 none;
        display: flex;
        margin-right: -65px;
        font-size: 2.5vh;
        font-weight: 500;
        color: #ffffff !important;
        background-color: #0d1317;
        padding: 10px;
        border-radius: 5px;
    }

    .logos img {
        width: 40vw;
    }
}